:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
  display: flex !important;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
